@import url(//fonts.googleapis.com/css?family=Lato:400,700);
:root {
    --teal: #50C8AA;
    --dark-grey: #b0b0b0;
    --text-color: #686868;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: Lato, sans-serif;
    display: flex;
    position: relative;
    color: var(--text-color);
    background-color: #f9f9f9;
}

body p{
    font-size: 16px;
}

body li{
    font-size: 16px;
    margin: 10px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: black;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
}

.side-nav a{
    display: block;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-icon-wrapper {
    height: 2rem;
    width: 2rem;
    position: relative;
    display: none;
    margin: 1rem;
}

.menu-icon-wrapper img{
    width: 100%;
    margin: 0;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.exit-icon {
    display: none;
}

.logo-wrapper {
    width: 100%;
    height: auto;
    margin: 0.5rem 1rem;
    text-align: center;
    padding-top: 30px;
}

.logo-wrapper img {
    width: calc(100% - 4rem)
}

.side-nav a{
    color: var(--dark-grey);
    text-decoration: none;
    padding: 1rem 2rem;
}

.side-nav a:hover{
    color: white;
    background-color: var(--teal);
}

.main {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 250px);
    background-color: rgb(241, 241, 241);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    width: calc(100% - 250px);
    margin: 100px 0 2vw 0;
}
.section li{
    text-align: left;
}

.display_sketchs {
    display: flex;
    justify-content: space-evenly;
}

.display_sketchs img{
    width: 10%;
}

hr {
    background-color: #fff;
    padding: 0;
    margin: 80px;
    border: 0;
    width: 60%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.285), rgba(0, 0, 0, 0));
}

.section h1 {
    font-size: 3rem;
    color: var(--teal);
}

.section h2 {
    font-size: 1.4em;
    font-weight: 100;
}
.section-content h3 {
    font-size: 1.6rem;
}


.page-button h3 {
    font-size: 16px;
}


.section h4 {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--dark-grey);
    width: 80%;
}

.section-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    padding: 3.5rem;
}

.section-content img {
    width: 100%;
}
.section-content h1{
    color: black;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: left;
}

.circle-number {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: var(--teal);
}

.obs-list {
    text-align: left;
}

.obs-list li {
    padding: 10px;
}

.empathy-maps-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.empathy-map{
    width: 350px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
}

.empathy-map p {
    text-align: justify;
}

.empathy-map img{
    width: 100%;
}

#storyboard-section, #empathy-maps-section{
    width: calc(100vw - 300px);
}

#storyboard-section {
   padding-bottom: 100px;
}

.storyboard-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.storyboard-item {
    width: 200px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    padding: 20px;
    margin: 10px;
}

.storyboard-item img {
    width: 100%;
}

.storyboard-liner {
    width: 100%;
    height: 10px;
    background-color: var(--teal);
}

.extra-margin-top {
    margin-top: 100px;
}

.design-imgs {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    /* border: #50C8AA;
    border-width: thick;
    border-style: solid;
    border-radius: 20px;
    margin-top: 5vw; */
}
.design-imgs img{
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 2vw;
}
.design-imgs h1{
    color: black;
}

.page-button {
    height: 75px;
    width: 200px;
    background-color: var(--teal);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.page-button:hover {
    background-color: #2c6f5e;
    cursor: pointer;
}

#button-wrapper a {
    color: white;
    text-decoration: none;
}

#button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

#Sketches .section-content, #Wireframes .section-content{
    margin: 20px 0;
}

#Critique .section-content{
    margin: 20px;
}


@media only screen and (max-width: 900px) {

    .side-nav {
        /* flex-direction: row; */
        height: auto;
        width: 100vw;
    }

    .side-nav a {
        display: none;
    }

    .main {
        margin-left: 0;
        width: 100vw;
    }

    .logo-wrapper {
        width: 3rem;
        height: auto;
        padding-top: 0;
    }
    
    .logo-wrapper img {
        width: 100%
    }

    .section {
        width: 100% !important;
    }

    .section-content {
        width: calc(100% - 7rem);
    }

    .menu-icon-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .empathy-map {
        width: calc(100vw - 60px);
    }

    .section-content {
        padding: 1rem;
        width: calc(100vw - 2rem);
    }

    .circle-number {
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        font-size: 5vw;
    }
    .section h1 {
        font-size: calc(8vw);
    }
    .section h2, .section h4{
        font-size: calc(4vw);
    }

    .section {
        font-size: calc(4vw);
    }
}

@media only screen and (max-width: 520px) {
    .storyboard-item {
        width: 70vw;
        height: auto;
    }
}



@media only screen and (min-width: 901px) {
    .side-nav a {
        display: block !important;
    }
}